<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ shop.name | escape }}</title>
  <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
  {{ content_for_header }}
</head>
<body>
  <main class="container">
    {{ content_for_layout }}
  </main>
</body>
</html>
